@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/lato/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/lato/Lato-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/lato/Lato-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-LightItalic';
	src: url('../fonts/lato/Lato-LightItalic.woff2') format('woff2'), url('../fonts/lato/Lato-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Hind-Bold';
	src: url('../fonts/hind/Hind-Bold.woff2') format('woff2'), url('../fonts/hind/Hind-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Hind-Light';
	src: url('../fonts/hind/Hind-Light.woff2') format('woff2'), url('../fonts/hind/Hind-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Hind-SemiBold';
	src: url('../fonts/hind/Hind-SemiBold.woff2') format('woff2'), url('../fonts/hind/Hind-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


/*=========================================================================================================*/

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	max-width: 1170px;
}


/* ==========================================================================
   Header section
   ========================================================================== */

.header-area {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1274px;
}

.header-top-area {
	background-color: #ebebeb;
	text-align: right;
	color: #767676;
	font-size: 16px;
	font-family: Lato-Regular;
	padding: 11.8px 54px;
}

.header-top-area img {
	width: 24px;
	margin-right: 6px;
	padding: 2px;
}

.header-main-area {
	font-family: Hind-Light;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: white;
	font-size: 17px;
	padding: 9px 38px;
}

.header-img img {
	width: 100%;
	height: auto;
}

.navbar-toggler {
	float: right;
	display: block;
}

.nav-item {
	padding: 10px 0;
}

.nav-link {
	padding-left: 1em !important;
	padding-right: 1em !important;
	display: block;
}

.nav-item .nav-border-v {
	border: none;
	border-radius: 0;
	border-right: 2px solid #b9b9b9;
	height: 23px;
	position: absolute;
	top: 26px;
}

.nav-item .nav-border-v1 {
	border: none;
	border-radius: 0;
	border-right: 2px solid #b9b9b9;
	height: 23px;
	position: absolute;
	top: 8px;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	border: 1px solid #959595;
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.3);
	min-width: 13rem;
	font-size: 16px;
	margin-left: 20px;
}

.nav-link {
	color: #636363;
}

.navbar-nav .active>.nav-link,
.navbar-nav>.nav-item:hover>.nav-link,
.nav-link:hover {
	color: #1a94d3 !important;
}

.navbar-nav li:hover>ul.dropdown-menu {
	display: block;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 95%;
	margin-top: -6px;
	border: none;
	margin-left: 0;
}


/* rotate caret on hover */

.dropdown-menu>li>a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
}

.hr-style hr {
	margin-top: 4px;
	margin-bottom: 4px;
	border-color: #959595;
	width: 80%;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #1a94d3;
	background-color: transparent;
}

.dropdown-menu>li:hover>a {
	color: #1a94d3;
}

.navbar-nav .active>.nav-link:after,
.navbar-nav .nav-item:hover>.nav-link:after,
.nav-link:hover:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 28px;
	height: 3px;
	border-top: 0;
	margin-left: -25px;
	margin-top: -5px;
	background: #1a94d3;
}

.dis-none {
	display: none;
}

.add-border-r {
	border-right: 1px solid #9e9e9e;
}

.rm-border {
	border: none !important;
}


/* ==========================================================================
   Slider section
   ========================================================================== */

.section-bg {
	background-image: url("../images/slider_cover.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1291px;
}

.section-bg2 {
	background-color: #ebebeb;
}

.section-bg3 {
	background-color: #1a94d3;
}

.footer-bg {
	background-color: #03051e;
	min-height: 351px;
}

.section-object {
	padding-top: 20%;
	padding-left: 5%;
}

.section-title-1 {
	padding-top: 20%;
	padding-left: 5%;
}

.section-title-1 h1 {
	font-size: 65.92px;
	letter-spacing: 2px;
}

.section-title-1 h1:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 6px;
	margin-left: -50px;
	background: #1a94d3;
}

.section-title-1 h2 {
	font-family: Hind-SemiBold;
	letter-spacing: 2px;
	font-size: 65.92px;
	line-height: 1.3;
}

.section-title-1 a {
	margin-top: 25px;
	text-align: center;
	font-size: 21.63px;
	padding: 9px 36px;
	letter-spacing: 1px;
	font-family: Hind-SemiBold;
}

.section-title-2 h2,
.section-title-2 h1,
.section-title-3 h1,
.section-title-4 h1 {
	font-size: 35px;
	font-family: Hind-Bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-title-2 h1:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 6px;
	margin-left: -50px;
	margin-top: -8px;
	background: #1a94d3;
}

.section-title-2 h2:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 6px;
	margin-left: -50px;
	margin-top: -8px;
	background: #ffffff;
}

.section-title-3 {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

.section-title-3 h1:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 6px;
	margin-top: -8px;
	margin-left: -50px;
	background: #1a94d3;
}

.section-title-3 p {
	font-family: Hind-Light;
	font-size: 17px;
	margin: 2rem;
}

.section-title-3 span {
	color: #1a94d3;
}

.section-title-4 h1:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 6px;
	margin-top: -8px;
	margin-left: -50px;
	background: #1a94d3;
}

.btn-s1 {
	width: 108px;
	height: 36px;
	background-color: #1a94d3;
	color: #ffffff;
	border-radius: 6px;
	display: inline-block;
	text-align: center;
	line-height: 2.2rem;
	padding: 0;
	letter-spacing: 1px;
	vertical-align: middle;
}

.btn-s2 {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #1a94d3;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-s3 {
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	padding: 7px 35px;
	letter-spacing: 1px;
	font-size: 17px;
	font-family: Hind-Bold;
}

.btn-s4 {
	background-color: transparent;
	color: #1a94d3;
	border: 2px solid #1a94d3;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: Hind-Bold;
	padding: 7px 50px;
	float: right;
}

.left-img {
	background-image: url('../images/fan.png');
	background-size: cover;
	min-height: 315px;
}

.ref-btn {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 20px;
	text-transform: uppercase;
	padding: 11px 42px;
	border-radius: 6px;
	color: #1a94d3;
	letter-spacing: 1px;
	font-family: Hind-SemiBold;
	background-color: #ffffff;
}

.service-area {
	margin-top: 7rem;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
	height: auto;
}

.brand-slider {
	padding: 85px 0;
}

/* ==========================================================================
   Service section
   ========================================================================== */

.service-area p {
	font-family: Hind-Light;
	font-size: 17px;
}

.service-area .card {
	background-color: transparent;
	color: #ffffff;
	border: none;
	text-align: center;
	padding-top: 30px;
}

.service-area .card img {
	color: white;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product-area .card {
	padding: 10%;
	background-color: transparent;
	border: none;
}

.product-area .card img {
	width: auto;
	height: auto;
	margin: 0 auto;
}

.product-area .card p {
	font-family: Hind-Bold;
	text-transform: uppercase;
	font-size: 16.1px;
	margin-top: 15px;
	letter-spacing: 1px;
}

.product-area .border-style-v {
	border: none;
	border-radius: 0;
	text-align: center;
	border-right: 2px solid #b9b9b9;
	height: 80%;
	position: absolute;
	top: 10%;
}

.product-area .border-style-h {
	border: none;
	text-align: center;
	border-radius: 0;
	border-bottom: 2px solid #b9b9b9;
	width: 80%;
	position: absolute;
	left: 10%;
}


/* ==========================================================================
   Paragraph section
   ========================================================================== */

.border-style {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.paragraph-title-1 {
	padding: 0 30px 10px 17px;
}

.paragraph-title-1 h2 {
	color: #1a94d3;
	text-transform: uppercase;
	font-size: 25px;
	font-family: Hind-Bold;
	margin-bottom: 30px;
}

.paragraph-title-1 p {
	font-family: Hind-Light;
	font-size: 17px;
}


/* ==========================================================================
   Contact section
   ========================================================================== */

.contact-style h2 {
	font-family: Hind-Bold;
	font-size: 35px;
}

.contact-style h2 span img {
	width: 15%;
	margin: 0 35px;
}

/* ==========================================================================
   Footer section
   ========================================================================== */

.footer-logo img {
	margin-bottom: 30px;
}

.footer-logo p {
	font-family: Lato-LightItalic;
	font-size: 15px;
}

.footer-title h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Lato-Bold;
	text-decoration: underline;
	margin-bottom: 25px;
	font-size: 15px;
}

.footer-title p {
	font-family: Lato-Light;
	font-size: 15px;
	letter-spacing: 1px;
}

.footer-title li a {
	color: #ffffff;
	font-family: Lato-Light;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 2rem;
}

.footer-title ul {
	list-style-type: none;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.footer-title .social-links li a {
	line-height: 4.5rem;
}

.footer-bottom {
	padding-top: 18px;
	color: rgba(27, 30, 33, 0.61);
	font-family: Lato-Regular;
	padding-bottom: 5px;
}


/*responsive quesries starts*/


/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
	.header-img img {
		width: 50%;
	}
	.section-title-1 {
		padding-top: 60%;
	}
	.section-title-1 h1,
	.section-title-1 h2 {
		font-size: 35px;
	}
	.section-title-1 a {
		font-size: 15px;
		padding: 4px 10px;
	}
	.product-area .border-style-v {
		display: none;
	}
	#l-border-style {
		display: inline-block;
	}
	.left-img {
		margin-top: 20px;
	}
	.owl-carousel .owl-item img {
		width: 50%;
		height: auto;
	}
	.service-area {
		margin-top: 0;
		padding-bottom: 15px;
		height: 100%;
		background-color: #1A94D3;
	}
	.logo-carousel {
		padding-top: 38rem !important;
	}
	.brand-slider {
		padding: 60px 0 !important;
	}
	.service-area .card {
		padding-top: 0;
	}
	.paragraph-title-1 {
		padding: 0 30px 10px 17px;
		text-align: center;
	}
	.btn-s4 {
		margin-right: 0;
		float: none;
	}
	.add-border-r {
		border-right: 0;
	}
	.contact-style h2 {
		font-family: Hind-Bold;
		font-size: 24px;
	}
	.contact-style h2 span img {
		width: 10%;
		margin: 0 35px;
	}
	.m-5 {
		margin: 0 !important;
		padding-bottom: 3rem!important;
	}
	.m-5.text-center {
		text-align: unset !important;
	}
	.footer-title {
		margin-top: 10px;
	}
	.social-link-wrap {
		text-align: unset !important;
	}
	.footer-bottom .text-right {
		text-align: unset !important;
	}
	.service-img {
		width: 100%;
	}
	.header-top-area {
		text-align: center !important;
	}
	.header-main-area {
		padding: 0;
	}
	.navbar-brand {
		width: 70%;
	}
	.display {
		display: none !important;
	}
	.nav-item .nav-border-v {
		border: none;
	}
	.dropdown-submenu>.dropdown-menu {
		background-color: #F9F9F9;
	}
	.dropdown-menu {
		border-radius: 0;
		border: 1px solid #b9b9b9;
		box-shadow: none;
	}
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
	.header-img img {
		width: 50%;
	}
	.section-title-1 {
		padding-top: 30%;
	}
	.section-title-1 h1,
	.section-title-1 h2 {
		font-size: 43px;
	}
	.product-area .border-style-v {
		display: none;
	}
	#l-border-style {
		display: inline-block;
	}
	.left-img {
		margin-top: 20px;
	}
	.owl-carousel .owl-item img {
		width: 60%;
		height: auto;
	}
	.service-area {
		margin-top: 0 !important;
		padding-bottom: 15px;
		height: 100%;
		background-color: #108AC9;
	}
	.logo-carousel {
		padding-top: 50%;
	}
	.brand-slider {
		padding: 60px 0 !important;
	}
	.service-area .card {
		padding-top: 0;
	}
	.paragraph-title-1 {
		padding: 0 30px 10px 17px;
		text-align: center;
	}
	.btn-s4 {
		margin-right: 0;
		float: none;
	}
	.add-border-r {
		border-right: 0;
	}
	.contact-style h2 {
		font-family: Hind-Bold;
		font-size: 24px;
	}
	.contact-style h2 span img {
		width: 10%;
		margin: 0 35px;
	}
	.m-5 {
		margin: 0 !important;
		padding-bottom: 3rem!important;
	}
	.m-5.text-center {
		text-align: unset !important;
	}
	.footer-title {
		margin-top: 10px;
	}
	.social-link-wrap {
		text-align: unset !important;
	}
	.footer-bottom .text-right {
		text-align: unset !important;
	}
	.service-img {
		width: 100% !important;
	}
	.display {
		display: none !important;
	}
	.nav-item .nav-border-v {
		border: none;
	}
	.dropdown-submenu>.dropdown-menu {
		background-color: #F9F9F9;
	}
	.dropdown-menu {
		border-radius: 0;
		border: 1px solid #b9b9b9;
		box-shadow: none;
	}
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
	.header-img img {
		width: 50%;
	}
	.section-title-1 {
		padding-top: 20%;
	}
	.section-title-1 h1,
	.section-title-1 h2 {
		font-size: 45px;
	}
	.product-area .border-style-v {
		display: none;
	}
	#l-border-style {
		display: inline-block;
	}
	.owl-carousel .owl-item img {
		width: 60%;
		height: auto;
	}
	.service-area {
		margin-top: 290px;
		height: 100%;
		padding-bottom: 15px;
	}
	.logo-carousel {
		padding-top: 5%;
	}
	.brand-slider {
		padding: 60px 0 !important;
	}
	.service-area .card {
		padding-top: 0;
	}
	.paragraph-title-1 {
		padding: 0 30px 10px 17px;
		text-align: center;
	}
	.btn-s4 {
		margin-right: 0;
		float: none;
	}
	.add-border-r {
		border-right: 0;
	}
	.contact-style h2 {
		font-family: Hind-Bold;
		font-size: 24px;
	}
	.contact-style h2 span img {
		width: 10%;
		margin: 0 35px;
	}
	.m-5 {
		margin: 0 !important;
		padding-bottom: 3rem!important;
	}
	.m-5.text-center {
		text-align: unset !important;
	}
	.footer-title {
		margin-top: 10px;
	}
	.social-link-wrap {
		text-align: unset !important;
	}
	.footer-bottom .text-right {
		text-align: unset !important;
	}
	.service-img {
		width: 100% !important;
	}
	.display {
		display: none !important;
	}
	.nav-item .nav-border-v {
		border: none;
	}
	.dropdown-submenu>.dropdown-menu {
		background-color: #F9F9F9;
	}
	.dropdown-menu {
		border-radius: 0;
		border: 1px solid #b9b9b9;
		box-shadow: none;
	}
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	.section-title-1 h1,
	.section-title-1 h2 {
		font-size: 55px;
	}
	.owl-carousel .owl-item img {
		width: 70%;
		height: auto;
	}
	.service-area {
		margin-top: 200px;
		height: 100%;
		padding-bottom: 15px;
	}
}


/*responsive quesries ends*/
